.menu .label{
	-fx-text-fill: white;
}
.choice-box{
	-fx-font-size: 30px;
}
.choice-box:showing{
	-fx-background-color: lightblue;
}
#bigChoice{
	-fx-font-size: 30px;
}
.check-box{
	-fx-padding: 20px;
	-fx-font-size: 35px;
}
.check-box:selected{
	-fx-background-color: green;
}
.text-area{
	-fx-font-size: 15px;
}
#generalReport{
	-fx-font-size: 20px;
}
#defenseLabels {
	-fx-text-fill: blue;
}
#capLabel{
	-fx-font-padding: 5px;
	-fx-font-size: 30px;
}
#yesLab{
	-fx-background-color: green;
	-fx-font-family: verdana;
	-fx-font-size: 35px;
	-fx-text-fill: white;
}
#noLab{
	-fx-background-color: red;
	-fx-font-fanily: verdana;
	-fx-font-size: 35px;
	-fx-text-fill: white;
}

