.menu .label{
	-fx-text-fill: white;
	-fx-font-size: 15px;
}
#extra .label{
	-fx-text-fill: black;
	-fx-font-size: 15px;
}
.choice-box{
	-fx-font-size: 30px;
}
.choice-box:showing{
	-fx-background-color: lightblue;
}
#bigChoice{
	-fx-font-size: 30px;
}
.check-box{
	-fx-padding: 20px;
	-fx-font-size: 35px;
}
.check-box:selected{
	-fx-background-color: green;
}
.text-area{
	-fx-font-size: 15px;
}
#generalReport{
	-fx-font-size: 20px;
}
#generalRep{
	-fx-font-size: 25px;
}
#defenseLabels {
	-fx-text-fill: blue;
}
#capLabel{
	-fx-font-padding: 5px;
	-fx-font-size: 30px;
}
#yesLab{
	-fx-background-color: green;
	-fx-font-family: verdana;
	-fx-font-size: 35px;
	-fx-text-fill: white;
}
#noLab{
	-fx-background-color: red;
	-fx-font-fanily: verdana;
	-fx-font-size: 35px;
	-fx-text-fill: white;
}
#greenheader .text{
	-fx-fill: green;
	-fx-stroke: black;
	-fx-stroke-width: 2;
}
#blueheader .text{
	-fx-fill: blue;
	-fx-stroke: black;
	-fx-stroke-width: 2;
}
#redheader .text{
	-fx-fill: red;
	-fx-stroke: black;
	-fx-stroke-width: 2;
}
#orangeheader .text{
	-fx-fill: orange;
	-fx-stroke: black;
	-fx-stroke-width: 2;
}
#maroonheader .text{
	-fx-fill: maroon;
	-fx-stroke: black;
	-fx-stroke-width: 2;
}
#yellowheader .text{
	-fx-fill:yellow;
	-fx-stroke: black;
	-fx-stroke-width: 2;
}
